#### Exercise 1

In [10]:
print("Chris Dinneen\n32A Grindleford Drive\nBalcatta, WA, 6021")

Chris Dinneen
32A Grindleford Drive
Balcatta, WA, 6021

#### Exercise 2

In [1]:
name=input("Please Enter your name: ")
print("Hello",name)

Please Enter your name: blsa
Hello blsa

#### Exercise 3

In [14]:
width=input("Enter width of room (meters): ")
length=input("Enter length of room (meters): ")
area= round(float(width)*float(length),4)
print("Area of room is ",str(area),"sqm")

Enter width of room (meters): 3
Enter length of room (meters): 4
Area of room is  12.0 sqm

#### Exercise 4

In [16]:
width=input("Enter width of Field (ft): ")
length=input("Enter length of Field (ft): ")
area= round((float(width)*float(length))/43560,4)
print("Area of Field is ",str(area),"Acres")

Enter width of Field (ft): 333
Enter length of Field (ft): 333
Area of Field is  2.5457 Acres

#### Exercise 5

In [19]:
n_small=input("Enter number of 1L or less bottles: ")
n_big=  input("Enter number of bottles greater than 1L: ")
refund_big=int(n_small)*0.1
refund_small=int(n_big)*0.25
refund_all=round(refund_big+refund_small,2)
print("Your refund is $"+str(refund_all))

Enter number of 1L or less bottles: 1
Enter number of bottles greater than 1L: 1
Your refund is $0.35

#### Exercise 6

In [20]:
meal_price=float(input("Enter meal price: "))
tax=meal_price*0.10
tip=meal_price*0.18
total=meal_price+tax+tip
print("Please pay $"+str(round(total,2))+"\nTax: $"+str(round(tax,2))+"\nTip: $"+str(round(tip,2)))

Enter meal price: 34.21
Please pay $43.79
Tax: $3.42
Tip: $6.16

#### Exercise 7

In [29]:
def sum_nums(n):
    ''' 
    int -> int
    This function computes (n*n+1)/2'''

    return int(((n)*(n+1))/2)

num=input("Enter number to sum to:")
print(sum_nums(int(num)))

Enter number to sum to:5
15

In [30]:
#### Exercise 8